* {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.877);
    color: white;
    padding: 13px;
    align-items: center;
}

body {
    margin: 0;
}

.logo>p {
    font-size: large;
    padding: 0;
}

.logo>p>span {
    font-size: 10px;
    margin-top: -3px;
    padding: 0;
}

.nav>a {
    text-decoration: none;
    color: white;
    padding: 3px;
    font-size: small;
}

.search {
    display: flex;
    align-items: center;
}

.logo>img {
    width: 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.body>div>h1 {
    text-transform: capitalize;
    color: rgb(255, 255, 255);
}

.body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(body.jpg);
    height: 90vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body>div>span {
    color: white;
}

.body>div>center>div {
    color: white;
    background-color: rgb(218, 45, 45);
    width: 8rem;
    padding: 10px;
    align-self: center;
    border-radius: 101px;
    margin-top: 10px;
}